@media screen and (min-width:320px) and (max-width:570px){
    .container{
        flex-direction: column;
        margin: unset;
        width: unset;
        align-items: center;
    }
    .main{
        width: unset;
        margin-top: 10px;
    }
    .container2{
        flex-direction: column;
        width: unset;
        
    }
    .container3{
        flex-direction: column;
        align-items: center;
        
    }
    .span{
        width: unset;
        margin-top: 15px;
    }
}


@media screen and (min-width:571px) and (max-width:720px){
    .container{
        flex-wrap: wrap;
        margin: unset;
        width: unset;
        align-items: center;
    }
    .main{
        width: unset;
        margin-top: 10px;
    }
    .container2{
        flex-wrap: wrap;
        width: unset;
        
        
    }
    .container3{
        flex-wrap: wrap;
        align-items: center;
        
    }
    .span{
        width: unset;
        margin-top: 15px;
    }
}

@media screen and (min-width:721px) and (max-width:1068px){
    .container{
        flex-direction: column;
        margin: unset;
        width: unset;
        align-items: center;
    }
    .main{
        width: unset;
        margin-top: 10px;
    }
    .container2{
        flex-direction: column;
        width: unset;
        
    }
    .container3{
        flex-direction: column;
        align-items: center;
        
    }
    .span{
        width: unset;
        margin-top: 15px;
    }
}